
<div class="add-user-form">
  <h2>Add a New User</h2>
  <form (ngSubmit)="addUser()">
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="newUser.name" name="name" required>

    <label for="age">Age:</label>
    <input type="number" id="age" [(ngModel)]="newUser.age" name="age" required>

    <button type="submit">Add User</button>
  </form>
</div>

<h2>User List</h2>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let user of users; let i = index">
    <tr [ngClass]="{'editing': user.isEditing}">
      <td>
        <ng-container *ngIf="!user.isEditing">{{ user.name }}</ng-container>
        <input
          *ngIf="user.isEditing"
          type="text"
          [(ngModel)]="user.name"
          name="name"
          required
        >
      </td>
      <td>
        <ng-container *ngIf="!user.isEditing">{{ user.age }}</ng-container>
        <input
          *ngIf="user.isEditing"
          type="number"
          [(ngModel)]="user.age"
          name="age"
          required
        >
      </td>
      <td>
        <button *ngIf="!user.isEditing" (click)="editUser(i)">Edit</button>
        <button *ngIf="user.isEditing" (click)="saveUser(i)">Save</button>
        <button (click)="deleteUser(i)">Delete</button>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>

